<ul>
  {{#each model as |resource|}}
    <li>
      <dl>
        <dd>{{#link-to 'resource' resource}}{{resource.title}}{{/link-to}}</dd>
        <dt>{{json-stringify resource}}</dt>
      </dl>
    </li>
  {{/each}}
</ul>

{{outlet}}

